:root {
  --color1: #f68c3f;
  --color2: #00007d;
  --color3: #67d5e7;
  --color4: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

h1 {
  font-weight: 800;
  position: absolute;
  align-self: flex-start;
  left: 30px;
}

/* ******************Barre de navigation ******************* */

.barreNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/client/image/affiche.jpg);
}

.menu {
  font-size: 2rem;
  font-weight: bolder;
  padding: 15px;
}

.titre {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  color: var(--color2);
}
/* ******************Section 1 ****************************** */
section {
  margin-top: 30px;
}

.categorie {
  display: flex;
  margin: 10px;
  padding: 15px;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 15px;
  width: auto;
  height: 35rem;
  color: whitesmoke;
  background-color: var(--color2);
}

/* ******************** Encart ******************** */
.encart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin: 10px;
  background-color: var(--color4);
  -webkit-border-radius: 18px / 24px;
  -moz-border-radius: 18px / 24px;
  border-radius: 18px / 24px;
  box-shadow: 2 2 0.5;
  /* max-width: 30%; */
  width: 350px;
  height: auto;
  min-height: 450px;
  padding: 10px;
  box-shadow: 15px 14px 9px -1px rgba(42, 41, 41, 0.459);
  opacity: 0.8;
}

.imgEncart {
  max-width: 100%;
  height: 300px;
  width: 250px;
  background: whitesmoke;
  -webkit-border-radius: 100px / 160px;
  -moz-border-radius: 100px / 160px;
  border-radius: 100px / 160px;
}
/* max-width: 100%;
  max-height: 480px; */

.titreEncart {
  min-width: 100%;
  max-height: 0%;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid white;
  background-color: var(--color2);
  color: whitesmoke;
}
