:root {
  --color1: #f68c3f;
  --color2: #00007d;
  --color3: #67d5e7;
  --color4: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

h1 {
  font-weight: 800;
  align-items: center;
  left: 30px;
}

/* ******************Barre de navigation ******************* */

.barreNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/client/image/affiche.jpg);
}

.menu {
  font-size: 2rem;
  font-weight: bolder;
  padding: 15px;
}

.titre {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.5rem;
  color: var(--color2);
}
